src/flows/Create_New_Meeting.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Meeting_Invitation</name>
        <label>Meeting Invitation</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Change</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>I would like to invite you to the meeting. Start at: {!start_date} in {!Place_of_meeting}.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Lead.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>assign_event_fields</name>
        <label>assign event fields</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>event.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>event.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>event.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>start_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>event.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>end_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>event.Location</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Place_of_meeting</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change</name>
        <label>Change</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Meeting</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Invite_to_the_Client</name>
        <label>Invite to the Client</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_invite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_invite_to_the_Client</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Meeting_Invitation</targetReference>
            </connector>
            <label>Send invite</label>
        </rules>
    </decisions>
    <interviewLabel>Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Meeting</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_event</name>
        <label>create event</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <inputReference>event</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Information</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>create_event</targetReference>
        </connector>
        <inputReference>Get_Lead</inputReference>
    </recordUpdates>
    <screens>
        <name>Event_Information</name>
        <label>Event Information</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_event_fields</targetReference>
        </connector>
        <fields>
            <name>start_date</name>
            <dataType>DateTime</dataType>
            <fieldText>Start date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>end_date</name>
            <dataType>DateTime</dataType>
            <fieldText>End date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;End date must be after start date.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!start_date} &lt; {!end_date}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Place_of_meeting</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Electronics Shop Sp. z.o.o. ul. Nowa 48 Zamość</stringValue>
            </defaultValue>
            <fieldText>Place of meeting</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>event_info</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Lead_Information</name>
        <label>Lead Information</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Event_Information</targetReference>
        </connector>
        <fields>
            <name>Record_Id</name>
            <fieldText>&lt;p&gt;Create new meeting with &lt;b&gt;{!Get_Lead.FirstName} {!Get_Lead.LastName}&lt;/b&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Summary</name>
        <label>Summary</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Invite_to_the_Client</targetReference>
        </connector>
        <fields>
            <name>summary_component</name>
            <fieldText>&lt;p&gt;&lt;u&gt;Meeting summary&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Client info: &lt;b&gt;{!Get_Lead.FirstName} {!Get_Lead.LastName}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Subject:&lt;b&gt; {!subject}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Meeting place: &lt;b&gt;{!Place_of_meeting}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Start date:&lt;b&gt; {!start_date}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;End date: &lt;b&gt;{!end_date}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Send_invite_to_the_Client</name>
            <dataType>Boolean</dataType>
            <fieldText>Send invite to the Client</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>event</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
